.container {
    font-size: 2vh;
}

.handrail {
    border-left: 3px solid white;
    padding-left: 10px;
    margin-bottom: 5px;
    color: white;
}

.toggleTD {
    width: 20px;
    /* background-color: rgba(169,169,169, 0.5); */
}

.toggleTD:hover {
    background-color: grey;
    cursor: pointer;
}